*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::selection {
  background-color: $color-primary;
  color: $color-white;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(desktop) {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  @include respond(tab-port) {
    padding: 0;
    border: none;
  }
  padding: 3rem;
  border: 5px solid $color-primary;
}
